<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="offreLocation">
            <h2><span>Offre Location</span> {{ offreLocation.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{ offreLocation.libelle }}</span>
                </dd>
                <dt><span>Nbre Jours</span></dt>
                <dd>
                    <span>{{ offreLocation.nbreJours }}</span>
                </dd>
                <dt><span>Prix</span></dt>
                <dd>
                    <span>{{ offreLocation.prix }}</span>
                </dd>
                <dt><span>Vehicule</span></dt>
                <dd>
                    <div *ngIf="offreLocation.vehicule">
                        <a [routerLink]="['/vehicule', offreLocation.vehicule?.id, 'view']">{{ offreLocation.vehicule?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/offre-location', offreLocation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
