<div>
    <h2 id="page-heading">
        <span>Vehicules</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vehicule" [routerLink]="['/vehicule/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Vehicule
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="vehicules?.length === 0">
        <span>No vehicules found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="vehicules && vehicules.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Matricule</span></th>
                    <th scope="col" ><span>Modele</span></th>
                    <th scope="col" ><span>Marque</span></th>
                    <th scope="col" ><span>Prix</span></th>
                    <th scope="col" ><span>Image</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vehicule of vehicules ;trackBy: trackId">
                    <td><a [routerLink]="['/vehicule', vehicule.id, 'view']">{{ vehicule.id }}</a></td>
                    <td>{{ vehicule.matricule }}</td>
                    <td>{{ vehicule.modele }}</td>
                    <td>{{ vehicule.marque }}</td>
                    <td>{{ vehicule.prix }}</td>
                    <td>{{ vehicule.image }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/vehicule', vehicule.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/vehicule', vehicule.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(vehicule)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
